<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Luis-codes"><span class="firstName">Luis</span></a> as a class project giving me experience in creating functionality and having users submit data to the database and rendered back to the user.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Luis Rosado</h2>
      <br />
      <p>
        Luis Rosado is a software engineer looking to help create solutions for day-to-day problems. Knowledge of languages like Ruby, PHP, and JavaScript. I am looking to expand my knowledge of different frameworks and languages. 
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />